[submodule "third-party/nlohmann-json"]
	path = third-party/nlohmann-json
	url = git@github.com:nlohmann/json.git
[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "third-party/mqtt-paho-cpp"]
	path = third-party/mqtt-paho-cpp
	url = git@github.com:eclipse/paho.mqtt.cpp.git
